body {
  --h1-color: #8A5CF5;
  --h2-color: #6c43cb;
  --h3-color: #512da4;
  --h4-color: #381980;
  --h5-color: #270e62;
  --h6-color: black;
  --h1-size: 2.0em;
  --h2-size: 1.60em;
  --h3-size: 1.30em;
  --h4-size: 1.12em;
  --h5-size: 1.12em;
  --h6-size: 1.12em;
}