body {
  --h1-color: #8A5CF5;
  --h2-color: #6c43cb;
  --h3-color: #512da4;
  --h4-color: #512da4;
  --h5-color: #512da4;
  --h6-color: #512da4;

  --h1-size: 2.0em;
  --h2-size: 1.70em;
  --h3-size: 1.30em;
  --h4-size: 1.30em;
  --h5-size: 1.30em;
  --h6-size: 1.12em;

  --h3-weight: bold;
  --h4-weight: bold;
  --h5-weight: 1;
  --h6-weight: 1;

  --h6-style: italic;
}


/* Prev values
body {
  --h1-color: #8A5CF5;
  --h2-color: #6c43cb;
  --h3-color: #512da4;
  --h4-color: #381980;
  --h5-color: #270e62;
  --h6-color: black;

  --h1-size: 2.0em;
  --h2-size: 1.60em;
  --h3-size: 1.30em;
  --h4-size: 1.12em;
  --h5-size: 1.12em;
  --h6-size: 1.12em;
}
*/