h1,
h1 ~ *,
h2 ~ h1,
h2 ~ h1 ~ *,
h3 ~ h1,
h3 ~ h1 ~ * {
    margin-left: 0px;
}


h2,
h2 ~ *,
h1 ~ h2,
h1 ~ h2 ~ *:not(h1):not(h3) {
    margin-left: 40px;
}

h3,
h3 ~ *,
h1 ~ h3,
h1 ~ h3 ~ *:not(h1):not(h2) {
    margin-left: 80px;
}


OR 


  ul, ol {
    list-style-position: inside;
  } // This is necessary if you use lists. Otherwise just delete this rule.

  h1 ~ *:not(h1) {
    margin-left: 1.2rem;
  }
  h2 ~ *:not(h1, h2) {
    margin-left: 2.4rem;
  }
  h3 ~ *:not(h1, h2, h3) {
    margin-left: 3.6rem;
  }